<h1>Please insert booking details if you would like to proceed</h1>
<form method="post" action="/properties/bookings/<%=@properties.id%>">
		<input type=test placeholder="How many days?" name="book"><br>
		<input type=submit value="Book this property">
</form>




